<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>

  <style>

  </style>
</head>

<body>
  <main class="page">
    <div class="page-header">
      <div class="header-content">
        <div class="brand">
          <h2>Javvy's Autozone Limited</h2>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/autozone-ja.appspot.com/o/image.png?alt=media&token=c288150b-4ba8-4a02-81c4-9a90a303a953"
            alt="" />
        </div>

        <div class="content">
          <div class="address">
            Bustamante Highway, Four Paths<br />
            Clarendon, Jamaica
            <div class="mobile-container"><b>Tel:</b></div>
          </div>
          <div class="email-container"><b>Email :</b></div>
          <div class="trn-container"><b>TRN #</b></div>
          <div class="invoice-no"><b>Invoice No.</b>___________</div>
        </div>
      </div>

      <div class="header-brand">
        <h2>Invoice</h2>
      </div>
    </div>

    <hr class="header-divider" />

    <div class="content-container">
      <div class="content-header">
        <div class="date-container">
          <b>Date: </b> <span>{{ #dateFormat invoice.timeStamp "MM dd, YYYY" }}</span>
        </div>
        <div class="client-details-container">
          <b>Sold To:</b><br />
          <b>{{ client.firstName }} {{ client.lastName }}</b> <br />

          {{ client.address.address1 }}</br>
          {{ client.address.address2 }} </br>
          {{ client.address.address3 }} </br>
          {{ client.address.town }} </br>
          {{ client.address.parish }}

        </div>
      </div>
      <hr class="content-head-divider" />

      <div class="content-body">
        <div class="vehicle-description">
          <h4>Vehicle Description<br /><span>{{ vehicle.title }}</span></h4>
          <table>
            <tr>
              <td>
                <div class="attr-container">Make<br /><b>{{ vehicle.make }}</b></div>
              </td>
              <td>
                <div class="attr-container">Model<br /><b>{{ vehicle.model }}</b></div>
              </td>
              <td>
                <div class="attr-container">Sub-model<br /><b>{{ vehicle.submodel }}</b></div>
              </td>
              <td>
                <div class="attr-container">Year<br /><b>{{ vehicle.year }}</b></div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="attr-container">Colour<br /><b>{{ vehicle.color }}</b></div>
              </td>

              <td>
                <div class="attr-container">
                  Chassis No.<br /><b>{{ vehicle.chassis }}</b>
                </div>
              </td>
              <td>
                <div class="attr-container">Engine No.<br /><b>{{ vehicle.engine_no }}</b></div>
              </td>
              <td>
                <div class="attr-container">CC Rating<br /><b>{{ vehicle.engine_size }}</b></div>
              </td>
            </tr>
          </table>
        </div>

        <hr />

        <div class="main-table-container">
          <table>
            <thead>
              <th>Description</th>
              <th>Amount</th>
            </thead>
            <tr class="head">
              <td>Vehicle</td>
            </tr>
            <tr>
              <td class="detail">
                <div class="attr-container">{{ vehicle.title }}</div>
              </td>
              <td class="detail value">{{ vehicle.price }}</td>
            </tr>


            <tfoot>
              <th>Total</th>
              <td class="value">{{ total }}</td>
            </tfoot>

            <tfoot>
              <th>GCT ({{ gct }}%)</th>
              <td class=" value">+ {{ tax }}</td>
            </tfoot>
          </table>
        </div>

        <hr>


        <div class="administrator-name">
          <hr>
          <div class="name">{{ user.displayName }} </div>
        </div>

      </div>
    </div>

    <div class="footer">
      Thanks for your business
    </div>
  </main>
</body>

</html>